<div class="calendar-container">
   <div class="calendar-header">
      {{ currentMonthName }} {{ year }}
      <span class="navigation-buttons">
         <button type="button" class="btn btn-secondary btn-sm cal-nav-button"
            (click)="goToPreviousMonth()" [disabled]="!isPrevMonthAllowed()">Previous</button>
         <button type="button" class="btn btn-secondary btn-sm cal-nav-button" 
            (click)="goToNextMonth()" [disabled]="!isNextMonthAllowed()">Next</button>
      </span>
   </div>
   <div class="calendar-weekdays">
      <div class="weekday"
         *ngFor="let day of ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']">{{ day }}
      </div>
   </div>

   <div class="calendar">
      <div class="week" *ngFor="let week of weeks">
         <div class="day" *ngFor="let day of week" 
            [class.selected]="isDaySelected(day)" 
            (contextmenu)="showOptions(day, $event)"
            (click)="handleDayClick(day, $event)"
            [ngStyle]="{'background-color': getDayBackgroundColor(day)}">
            <span *ngIf="day.day" class="day-number" [class.grey-day]="!day.isCurrentMonth">{{ day.day }}</span>
            
            <!-- <button *ngIf="day.isCurrentMonth && !isReadOnly" class="edit-btn">
               <i class="fas fa-edit"></i>
            </button> -->
            <button *ngIf="!isReadOnly" class="edit-btn">
               <i class="fas fa-edit"></i>
            </button>

            <!-- Display the value for each day -->
            <!-- <span *ngIf="day.isCurrentMonth" class="value" title="{{ getDayDisplayName(day.day) }}">
               {{ getDayValue(day.day) }}
            </span> -->
            <span class="value" title="{{ getDayDisplayName(day) }}">
               {{ getDayValue(day) }}
            </span>
            <div class="date-disabled" *ngIf="!day.isCurrentMonth"></div>
         </div>
      </div>
   </div>

   <div class="options-popup" *ngIf="selectedDay" [ngStyle]="{'top': popupTop, 'left': popupLeft}">
      <div class="option" *ngFor="let option of scheduleOptions" (click)="applySelectionToDays(option)">
        {{ option.DisplayName }}
      </div>
    </div>

</div>
