<div class="container my-4">
   <form (ngSubmit)="onSubmit()" #newOfficerForm="ngForm">
      <div class="row">
         <div class="col-md-2 mb-3">
            <label for="agencyCode" class="form-label">Agency</label>
            <select class="form-select" id="agencyCode" required name="agency" placeholder="Agency"
               [(ngModel)]="officerForm.agency">
               <option selected value="">Select agency</option>
               <option selected value="EPS">EPS - Edmonton Police Agency</option>
               <option selected value="CPS">CPS - Calgary Police Agency</option>
            </select>
         </div>
         <div class="col-md-2 mb-3">
            <label for="badgeNumber" class="form-label">Badge number</label>
            <input type="text" class="form-control" id="badgeNumber" required minlength="10" name="badge"
               placeholder="Badge Number" [(ngModel)]="officerForm.badgeNumber" name="badgeNumber"
               #badgeNumber="ngModel">
         </div>
         <div class="col-md-2 mb-3">
            <label for="fromDate" class="form-label">Start date</label>
            <input type="date" class="form-control" id="fromDate" required placeholder="" name="fromDate"
               [(ngModel)]="officerForm.startDate">
         </div>
         <div class="col-md-2 mb-3">
            <label for="toDate" class="form-label">End date</label>
            <input type="date" class="form-control" id="toDate" required placeholder="" name="toDate"
               [(ngModel)]="officerForm.endDate">
         </div>
         <div class="col-md-2 mb-3">
            <label for="leaveType" class="form-label">Type of leave</label>
            <select class="form-select" id="leaveType" required name="leave" [(ngModel)]="officerForm.leaveName">
               <option selected value="">Select</option>
               <option value="{{option.DisplayName}}" *ngFor="let option of scheduleOptions">{{option.DisplayName}}
               </option>
            </select>
         </div>
         <div class="col-md-2  mb-3 align-self-end">
            <button type="submit" class="btn btn-primary">Add officer</button>
         </div>
      </div>
   </form>
</div>

<div class="container my-4">
   <table class="table table-hover table-striped">
      <!-- Header Row -->
      <thead class="thead-dark">
         <tr>
            <th scope="col">Officer Name</th>
            <th scope="col">Agency</th>
            <th scope="col">Badge Number</th>
            <th scope="col" class="column-leave-type">Leave Name</th>
            <th scope="col" class="column-start-date">Start Date</th>
            <th scope="col" class="column-end-date">End Date</th>
            <th scope="col" colspan="4">Actions</th>
         </tr>
      </thead>

      <!-- Data Rows -->
      <tbody>
         <ng-container *ngFor="let officer of officers; let officerIndex = index">
            <!-- If officer has leaves -->
            <ng-container
               *ngFor="let leave of officer.leaves; let isFirst = first; ; let last = last; let leaveIndex = index">
               <tr *ngIf="!isEditing(officer.id, leaveIndex)">
                  <td *ngIf="isFirst; else emptyCell">{{ officer.lastName }}, {{ officer.firstName }}</td>
                  <td *ngIf="isFirst; else emptyCell">{{ officer.agency }}</td>
                  <td *ngIf="isFirst; else emptyCell">{{ officer.badgeNumber }}</td>
                  <td class="column-leave-type">{{ leave.leaveName }}</td>
                  <td class="column-start-date">{{ leave.startDate | date }}</td>
                  <td class="column-end-date">{{ leave.endDate | date }}</td>
                  <td class="action-icon"><i class="fa fa-edit" title="Edit Leave"
                        (click)="onEditLeave(officer.id, leaveIndex, leave)"></i></td>
                  <td class="action-icon"><i class="fa-regular fa-square-plus" *ngIf="isFirst" title="Add Leave"
                        (click)="onShowAddLeaveForm(officerIndex)"></i></td>
                  <td class="action-icon"><i class="fa-regular fa-square-minus" title="Remove Leave"
                        (click)="onRemoveLeave(officer.id, leaveIndex)"></i></td>
                  <td class="action-icon"><i *ngIf="isFirst" class="fa-regular fa-trash-can" title="Delete Officer"
                        (click)="onDeleteClick(officer.id)"></i></td>
               </tr>

               <!-- Inline edit form for a leave -->
               <tr *ngIf="isEditing(officer.id, leaveIndex)" class="add-edit-row">
                  <td *ngIf="isFirst; else emptyCell">{{ officer.lastName }}, {{ officer.firstName }}</td>
                  <td *ngIf="isFirst; else emptyCell">{{ officer.agency }}</td>
                  <td *ngIf="isFirst; else emptyCell">{{ officer.badgeNumber }}</td>
                  <td class="column-leave-type">
                     <select name="leaveName" [(ngModel)]="editingLeave.leaveName" required>
                        <option value="{{option.DisplayName}}" *ngFor="let option of scheduleOptions">
                           {{option.DisplayName}}</option>
                     </select>
                  </td>
                  <td class="column-start-date">
                     <input type="date" name="startDate" [(ngModel)]="editingLeave.startDate" required>
                  </td>
                  <td class="column-end-date">
                     <input type="date" name="endDate" [(ngModel)]="editingLeave.endDate" required>
                  </td>
                  <td class="action-icon"><i class="fa fa-floppy-disk" title="Update"
                        (click)="onUpdateLeave( officer.id, leaveIndex, $event)"></i></td>
                  <td class="action-icon"><i class="fa fa-xmark" title="Cancel" (click)="onCancelEdit()"></i></td>
                  <td class="action-icon"></td>
                  <td class="action-icon"></td>
               </tr>
            </ng-container>

            <!-- If officer has no leaves -->
            <tr *ngIf="officer.leaves.length === 0">
               <td>{{ officer.lastName }}, {{ officer.firstName }}</td>
               <td>{{ officer.badgeNumber }}</td>
               <td>{{ officer.agency }}</td>
               <td class="column-leave-type"></td>
               <td class="column-start-date"></td>
               <td class="column-end-date"></td>
               <td class="action-icon"></td>
               <td class="action-icon"><i class="fa-regular fa-square-plus" title="Add Leave"
                     (click)="onShowAddLeaveForm(officerIndex)"></i></td>
               <td class="action-icon"></td>
               <td class="action-icon"><i class="fa-regular fa-trash-can" title="Delete Officer"
                     (click)="onDeleteClick(officer.id)"></i></td>
            </tr>

            <!-- Inline form for adding a new leave -->
            <tr *ngIf="activeOfficerIndex === officerIndex">
               <td></td>
               <td></td>
               <td></td>
               <td class="column-leave-type">
                  <select name="leaveName" [(ngModel)]="editingLeave.leaveName" required>
                     <option value="{{option.DisplayName}}" *ngFor="let option of scheduleOptions">
                        {{option.DisplayName}}</option>
                  </select>
               </td>
               <td class="column-start-date">
                  <input type="date" name="startDate" [(ngModel)]="editingLeave.startDate" required>
               </td>
               <td class="column-end-date">
                  <input type="date" name="endDate" [(ngModel)]="editingLeave.endDate" required>
               </td>
               <td class="action-icon"><i class="fa fa-floppy-disk" title="Update"
                     (click)="onAddLeave(officer.id, $event)"></i></td>
               <td class="action-icon"><i class="fa fa-xmark" title="Cancel" (click)="onCancelAddLeave()"></i></td>
               <td class="action-icon"></td>
               <td class="action-icon"></td>
            </tr>
         </ng-container>
      </tbody>
   </table>
</div>

<ng-template #emptyCell>
   <td></td>
</ng-template>